@page "/truck/create"

@using BlazorClient.Repositories.Interfaces
@using BlazorClient.ViewModel
@using Models.Exceptions
@inject NavigationManager Navigation
@inject ITruckRepository truckRepo;
@inject IModelRepository modelRepo;
@inject IPlantRepository plantRepo;

<PageTitle>Create truck</PageTitle>
<h3>Create</h3>

<EditForm Model="newTruckVm" OnValidSubmit="SubmitForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Year Of Manufacture</label>
        <InputNumber @bind-Value="newTruckVm.YearOfManufacture" class="form-control" />
        <ValidationMessage For="@(() => newTruckVm.YearOfManufacture)" />
    </div>
    <div class="form-group">
        <label>Chassis Code</label>
        <InputText @bind-Value="newTruckVm.ChassisCode" class="form-control" />
        <ValidationMessage For="@(() => newTruckVm.ChassisCode)" />
    </div>
    <div class="form-group">
        <label>Color</label>
        <InputText @bind-Value="newTruckVm.Color" class="form-control" />
        <ValidationMessage For="@(() => newTruckVm.Color)" />
    </div>

    @if (_models != null)
    {
        <div class="form-group">
            <label class="form-label">Model</label>
            <select @bind="newTruckVm.ModelId" class="form-select" aria-label="" id="selModel">
                <option value=""></option>
                @foreach (var item in _models)
                {
                    <option value=@item.Id>@item.Name</option>
                }
            </select>
            <ValidationMessage For="@(() => newTruckVm.ModelId)" />
        </div>
    }

    @if (_plants != null)
    {
        <div class="form-group">
            <label class="form-label">Plant</label>
            <select @bind="newTruckVm.PlantId" class="form-select" aria-label="" id="selPlant">
                <option value=""></option>
                @foreach (var item in _plants)
                {
                    <option value=@item.Id>@item.CountryName</option>
                }
            </select>
            <ValidationMessage For="@(() => newTruckVm.PlantId)" />
        </div>
    }

    <br/>
    <button type="submit" class="btn btn-primary">Create</button>

    @if (!string.IsNullOrEmpty(responseMessage))
    {
        <br />
        <div class="alert alert-info">@responseMessage</div>
    }
</EditForm>

@code {
    private string responseMessage;
    Plant[] _plants;
    Model[] _models;
    TruckViewModel newTruckVm { get; set; }

    protected override async Task OnInitializedAsync()
    {
        newTruckVm = new TruckViewModel();
        _plants = await plantRepo.GetPlantsAsync();
        _models = await modelRepo.GetModelsAsync();
    }

    private async Task SubmitForm()
    {
        try
        {
            Truck toBePosted = new Truck
            {
                ChassisCode = newTruckVm.ChassisCode,
                Color = newTruckVm.Color,
                YearOfManufacture = newTruckVm.YearOfManufacture,
                ModelId = newTruckVm.ModelId,
                PlantId = newTruckVm.PlantId
            };

            _ = await truckRepo.PostTruckAsync(toBePosted);

            Navigation.NavigateTo("/");
        }
        catch (ApiResponseException ex)
        {
            responseMessage = ex.Message;
        }
        catch (Exception)
        {
            responseMessage = $"An error has occurred.";
        }
    }
}